.wrapper {
    padding:0.8rem;
    background-color: #343338;
}
.footer{
    color: #ffffff;
    background-color: #343338;
    display: grid;
    grid-template-rows: 5rem 1px 5rem;
    align-items: center;
    border: 1px solid #ffffff;
    &_border {
        margin: 0.5rem;
        grid-row-start: 1;
        grid-row-end: -1;
    }
    hr{
        grid-row-start: 2;
        grid-row-end: 3;
    }
    &_up{
        padding: 1rem;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &_down{
        padding: 1rem;
        grid-row-start: 3;
        grid-row-end: -1;

    }
    a {
        color: #ffffff;
    }
}