.wrapper {
    padding:0.8rem;
    background-color: #343338;
}
.footer{
    color: #ffffff;
    background-color: #343338;
    display: grid;
    grid-template-rows: 5rem 1px 5rem;
    align-items: center;
    border: 1px solid #ffffff;
    &_border {
        margin: 0.5rem;
        grid-row-start: 1;
        grid-row-end: -1;
    }
    hr{
        grid-row-start: 2;
        grid-row-end: 3;
        width: 18rem;
        border-color: #4e4e4e;
    }
    &_up{
        padding: 1rem;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &_down{
        padding: 1rem;
        grid-row-start: 3;
        grid-row-end: -1;

    }
    &_link {
        color: #ffffff;
        &-store{
            text-transform: capitalize;
            color:#C88646;
            text-decoration: underline;
        }
    }
}

.legal {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 2rem;
    color: #C8BFB9;
    font-size: 0.7rem;
    p {
        padding: 0.5rem;
        a{
            text-decoration: underline;
        }
    }
}