<div class="wrapper">
<div class="footer hlp-ac">
    <div class="footer_up"> 
      <p>Questions?</p>
      <p>Contact us or visit us online!</p>
    </div>
    <hr>
    <div class="footer_down">
      <p>Visit the <a class="footer_link-store" href="#">store</a></p>
      <p>or contact our Sales Team on </p>
      <span></span><a href="tel:0123456789" class="hlp-bold footer_link">0123456789</a>
    </div>
</div>
</div>
<div class="legal hlp-ac">
  <p>&copy; 2019 Ingram Micro Inc. All rights reserved.</p>
  <p>Please review our <a>Privacy Policy</a></p>
</div>
