<div class="counter">
  <div class="counter_text">
    <p>Lorem, ipsum dolor.</p>
    <h2>Ingram Micro</h2>
    <h4>Lorem, ipsum dolor.</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, rerum?</p>
  </div>
  <hr>
  <div class="counter_count">
    <div class="counter_number counter_number-blue"><span class="hlp-bold">00</span><span class="counter_number-text ">Days</span></div>
    <div class="counter_number"><span class="hlp-bold">00</span><span class="counter_number-text">Hours</span></div>
    <div class="counter_number"><span class="hlp-bold">00</span><span class="counter_number-text">Minutes</span></div>
    <div class="counter_number"><span class="hlp-bold">00</span><span class="counter_number-text">Seconds</span></div>
  </div>
</div>
