<div class="icons">
  <div class="icons_text hlp-ac">
    <h3 class="icons-blue">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
    <p class="icons-blue">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque in nulla est expedita maxime, consectetur exercitationem reprehenderit necessitatibus molestias quam omnis ratione distinctio magni laborum repellendus voluptas laboriosam incidunt optio?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit voluptatem voluptates dignissimos id consequuntur corrupti quia sit ab officia. Illo.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti adipisci fugit porro?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, aliquam?</p>
    <div>
      <p>Whatever text: 123456789</p>
      <p>Period !st April 2019 - 28th June 2019</p>
    </div>
  </div>
  <div class="icons_boxes">
    <div class="icons_box  hlp-ac">
      <img src="assets/Goal.png">
      <p class="hlp-bold">€0</p>
      <p class="icons-blue">Total purchase goal</p>
    </div>  
    <div class="icons_box hlp-ac">
       <img src="assets/Sales.png" alt="" />
       <p class="hlp-bold">€0</p>
      <p class="icons-blue">Total Sales To Date</p>
    </div>  
    <div class="icons_box hlp-ac">
      <img src="assets/Goal Remaining.png" />
      <p class="hlp-bold">€0</p>
      <p class="icons-blue">Goal Remaining</p>
    </div>  
  </div>
  </div>