# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
Ingram Micro Test.zip
Ingram Micro Test/179x35.png
Ingram Micro Test/bg.jpg
Ingram Micro Test/Goal Remaining.png
Ingram Micro Test/Goal.png
Ingram Micro Test/Ingram Micro Front End Developer_CodingExc.docx
Ingram Micro Test/Landing Page - Mock up.pdf
Ingram Micro Test/Landing Page - Mock up.png
Ingram Micro Test/Sales.png
Ingram Micro Test/SAMPLE_MD GI SonicWall 19Q2 Campaign Master Guide.docm
